/* Inventory styling */
.inventory {
    display: flex;
    flex-direction: column;
}

.inventory-row {
    display: flex;

}

.inventory-slot {

    border: 1px solid #ddd;
    box-sizing: border-box;
}

.inventory-item {
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
}
